.subscribe-button {
  background-color: rgb(200, 0 , 0);
  color: white;

  border: none;
  border-radius: 2px;

  height: 36px;
  width: 105px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.subscribe-button:hover{
 opacity: 0.8;
}

.subscribe-button:active{
  opacity: 0.6;
}



.join-button {
  background-color: white;
  color: rgb(53, 115, 159);

  border-color: rgb(53, 115, 159);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;

  
  cursor: pointer;
  margin: 8px;
  transition: background-color 1s , color 1s;

  padding-left: 16px;
  padding-top: 7px;
  padding-bottom: 10px;
  padding-right: 16px;
  vertical-align: top;
  
}

.join-button:hover{
  background-color: rgb(53, 115, 159);
  color: white;
}
.join-button:active{
  opacity: 0.8;
}




.tweet-button{
  background-color: rgb(18, 169, 228);
  color: white;

  border: none;
  border-radius: 18px;

  font-weight: bold;
  font-size: 15px;

  width:75px;
  height: 36px;
  cursor: pointer;
  transition: box-shadow 0.15s;
  vertical-align: top;
  

}
.tweet-button:hover{
  box-shadow: 0px 5px 10px rgba(0,0,0,0.15);

}
.tweet-button:active{
  opacity: 0.9;
}

.cart-button{
  border: none;
  border-radius:18px;

  background-color: rgb(255,216,20);
  color:black;
  
  height: 36px;
  width: 150px;
  cursor: pointer;

  font-size: 15;
  vertical-align: top;
  
}